/*all*/
body {
    font-family: 'Roboto', sans-serif;
}

ul {
    margin-bottom: 0;
}

a {
    color: #006aff;
    font-weight: bold;
}

a:hover {
    color: #006aff;
    text-decoration: none;
}

.lh-40 {
    line-height: 55px;
}

input {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.mg-10 {
    margin: 10px 0;
}

.link_big {
    font-size: 30px;
    font-weight: bold;
}

.inliner {
    display: inline-block;
}

.mg-20 {
    margin: 25px 0 20px 0;
}
/*section*/
.section_gray {
    background-color: #f3f5f9;
}

.pad-60 {
    padding: 60px 0;
}

#section-1 {
    padding: 55px 0 25px 0;
}
/*typo*/
.navsite__link,
.navlog__link {
    color: hsl(221,93%,16%);
    text-transform: capitalize;
    font-size: 14px;
}
.jumbotron h1 {
    color: white;
    font-size: 52px;
}

h2 {
    color: hsl(221,93%,16%);
    font-weight: bold;
}

h3 {
    margin-top: 0;
    font-size: 16px;
}

h4 {
    color: hsl(221,93%,16%);
    font-weight: bold;
}

p {
   font-weight: bold;
}

.jumbotron p {
    font-weight: bold;
    color: gray;
    opacity: 0.7;
}

.formmain p {
    font-size: 11px;
    font-weight: normal;
}

.intro p {
    font-size: 18px;
}

/*button*/
.btn_primary {
    background-color: transparent;
    color: #006aff;
    font-weight: inherit;
    font-size: inherit;
    border: 1px solid #006aff;
    border-radius: 3px;
    line-height: normal;
    padding: 6px;
}

.btn_secondary {
    color: white;
    background-color: #5a84f3;
    border: none;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.btn_google {
    border: 0;
    background-color: transparent;
    color: #949494;
    box-shadow: 1px 1px 4px -2px #888888;
    padding-top: 4px;
    padding-bottom: 4px;
}
/*header*/
/*head top*/
.head_top {
    height: 55px;
}
.logowrap {
    height: 40px;
}
.logowrap_img {
   height: 100%;
}

.navlog li, .navsite li {
    padding-left: 25px;
}

.hammenu {
    font-size: 23px;
    line-height: 55px;
    color: #006aff;
}
/*jumbotron*/
.jumbotron {
    margin-bottom: 0;
    background-image: url("../img/bg-home-hero-3.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 80px;
}
.clame {
    padding-top: 30px;
}
.formmain {
    background-color: white;
    border-radius: 5px;
    padding: 20px 30px;
}

.camptxt {
    border: 1px solid #e5e8ed;
    padding: 5px 0 5px 4px;
    border-radius: 3px;
    box-shadow: none;
}

.linkdecorated {
    text-decoration: underline;
    font-weight: normal;
}

.G_bg {
    background-image: url("../img/google-icon.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 13px 4px;
}

@media screen and (max-width: 991px){
    .formmain {
        margin-top: 25px;
    }
}
/*section-1*/
.logcontainer img {
    width: 100%;
}
/*section-2*/
.intro {
    max-width: 900px;
    margin: auto;
    padding-bottom: 45px;
}

.infographic {
    max-width: 800px;
    margin: auto;
}

.menu_list li {
    padding: 15px 20px;
    border-left: 2px solid lightgray;
}

.menu_link {
    color: #b5b5b5;
}

.menu_contain, .info {
    margin-top: 15px;
}

@media screen and (max-width: 991px) {
    .menu_list {
        padding-left: 0;
    }

    .info {
        margin-top: 20px;
    }
}
/*section-2*/
.slideshow {
    max-width: 900px;
    margin: auto;
}

.slideshow_content {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;

}

.slideshow__img {
    width: 73%;
}

.circle {
    height: 10px;
    width: 10px;
    border: 2px solid #006aff;
    border-radius: 100%;
    padding: 0;
    margin: 5px;
}

.chevronmidle {
    font-size: 30px;
}

.chevronmidle .right {
    margin-left: 15px;
}

.chevronmidle .left {
    margin-right: 15px;
}

.slideshow h4 {
    margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
    .slideshow_list {
        margin-top: 80px;
    }

    .intro {
        padding: 0 0 90px 0 ;
    }
}

@media screen and (max-width: 992px){
    .intro {
        padding: 0 15px 90px 15px;
    }
}